* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
}

.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .card .content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 25px;
    transition-delay: 0s;
    transition: .5s;
    opacity: 0;
}

.container .card:hover .content {
    opacity: 1;
    transition-delay: .5s;
}

.container .card .content h2 {
    color: var(--clr);
    font-weight: 600;
    letter-spacing: .1em;
}

.container .card .content p {
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.container .card .content a {
    text-decoration: none;
    color: #fff;
    background: var(--clr);
    padding: 12px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 15px;
}

.container .card .imgBx,
.container .card .textBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.container .card .imgBx {
    background: #fff;
    height: 120px;
    z-index: 1;
    transform-origin: bottom;
}

.container .card:hover .imgBx {
    transform: translateY(-100%) rotateX(90deg);
}

.container .card .textBx {
    height: 280px;
    background: var(--clr);
    border-top: 8px solid #333;
    transform-origin: top;
    transition-delay: .5s;
    align-items: flex-end;
    overflow: hidden;
}

.container .card:hover .textBx {
    transform: translateY(100%) rotateX(90deg);
}

.container .card .textBx h2 {
    font-size: 1.2em;
    color: #222;
    letter-spacing: 0.11em;
    font-weight: 500;
    text-transform: uppercase;
    background: #fff;
    padding: 5px 25px;
    box-shadow: 0 0 0 8px #333;
}

.container .card .imgBx::before {
    content: "";
    position: absolute;
    width: 144px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -70px;
    height: 74px;
    background: #fff;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    z-index: 1;
}

.container .card .textBx::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 160px;
    height: 80px;
    background: #333;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

.container .card .imgBx img {
    position: relative;
    width: 70px;
    top: 65px;
    z-index: 900;
}